$color-1: rgb(171, 209, 238);
$color-2: rgb(120, 167, 221);
$color-3: rgb(90, 136, 196);
$color-4: rgb(56, 100, 155);
$color-5: rgb(36, 62, 109);

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
 @keyframes scale {
    0% {
      transform: translate(0,0);
    }

   50% {
     transform: translate(0,40px);
   }

   100% {
     transform: translate(0, 0);
   }
  }
}
body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  animation-delay: 1s;
}

@for $i from 1 through 5 {
  $deg: $i * 36;
  .item-#{$i} {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: nth($color, $i);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
    &:before {
      position: absolute;
      content: '';
      background: white;
      width: 20px;
      height: 20px;
      top: -100%;
      border-radius: 10px;
      @include anim();
      animation: scale 2.5s infinite ease-in-out;
      animation-delay: 100ms * $i;
    }
  }
}
